@import './reset.css';
@import './fonts-css/fonts.css';
.header {
  width: 100%;
  height: 100px;
  padding: 0 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to top, #eeeeee 0%, rgb(93, 133, 253) 100%);
}
.header .header__buger {
  display: none;
}
.header .header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__block .header__block-title {
  font-size: 1.5rem;
  letter-spacing: 0.11em;
  font-weight: bold;
  margin: 0;
  color: #434343;
}
.header .header__block .header__block-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header .header__block .header__block-logo > img {
  width: 40px;
  margin: 10px 20px 10px 0;
}
.header .header__block .header__block-href {
  font-size: 1.2rem;
  margin-left: 20px;
  text-decoration: none;
  color: #434343;
}

.footer {
  padding: 20px 13%;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, #eeeeee 0%, rgb(147, 170, 241) 100%);
}
.footer a {
  color: #434343;
  text-decoration: none;
}
.footer .footer__block-item {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}
.footer .footer__block-item .footer__block-icon {
  width: 25px;
  height: 25px;
}
.footer .footer__block:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  font-family: "Roboto";
  color: #434343;
  background-color: #eeeeee;
}

.body__overflow.active {
  overflow: hidden;
}

.bacg-body.active {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.623);
}

.homePage {
  width: 100%;
  padding: 0 0 100px;
  margin-bottom: 10px;
  position: relative;
}
.homePage .homePage__block {
  padding: 0 0 0 13%;
  width: 100%;
  background: fixed;
  background-position: center;
  background-size: cover;
}
.homePage .homePage__block .homePage__button {
  border: 0;
  font-size: 1.5rem;
  font-weight: normal;
  background: #ffc14d;
  padding: 20px 40px;
  border-radius: 50px;
  transition: 0.5s;
  box-shadow: 0 0 15px 4px #ffc14d;
}
.homePage .homePage__block .homePage__button:hover {
  transform: scale(1.02);
  transition: 0.5s;
}
.homePage .homePage__block .homePage__Item {
  display: flex;
  justify-content: space-between;
}
.homePage .homePage__block .homePage__Item .homePage__Item-block {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.homePage .homePage__block .homePage__Item .homePage__title {
  padding: 120px 0 0;
  font-size: 2.2rem;
  font-weight: bold;
  z-index: 1;
}
.homePage .homePage__block .homePage__Item .homePage__subTitle {
  font-weight: normal;
  margin: 40px 0;
  z-index: 1;
  font-size: 1.5rem;
}
.homePage .homePage__block .homePage__Item .homePage__image {
  z-index: 0;
  right: 0;
  height: 65vh;
  margin: 50px 0 0 20px;
  width: 50%;
  background-image: url("../img/narcissAlexey_well_drilling_in_a_private_house_small_drilling_r_c157ea64-271f-4997-a2b4-f4e9ae34e0c6.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  border-radius: 50px 0 0 50px;
}
.homePage .homePage__block .homePage__Item .popup.active {
  display: block;
}
.homePage .homePage__block .homePage__Item .popup {
  display: none;
  width: 37%;
  left: 32%;
  top: 10%;
  z-index: 5;
  margin: auto;
  position: fixed;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 20px;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__title {
  margin-bottom: 20px;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block {
  display: flex;
  flex-direction: column;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container .popup__text {
  width: 30%;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container p {
  margin: 10px 10px 10px 0;
  font-size: 1.2rem;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container input {
  height: 30px;
  border: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0 0 0 10px;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container input._error {
  transition: 0.3s;
  box-shadow: 0 0 5px rgb(255, 42, 42);
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container .popup__input-2 {
  margin-bottom: 10px;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container textarea {
  width: 100%;
  height: 90px;
  border: 0px;
  resize: none;
  font-size: 0.9rem;
  padding: 0 0 0 10px;
  border: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  cursor: pointer;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio {
  margin-bottom: 20px;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio p {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  border: 0;
  padding: 0;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__item {
  width: 100%;
  margin: 10px;
  font-size: 1.2rem;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__item img {
  width: 20px;
  margin-right: 10px;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__wrap input[type=radio] {
  display: none;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__wrap label {
  cursor: pointer;
  padding: 5px 15px;
  line-height: 34px;
  border-right: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__wrap .radio__item label {
  border-radius: 15px;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__wrap input[type=radio]:checked + label {
  background: rgba(255, 193, 77, 0.8);
  box-shadow: 0 0 15px 0px #ffc14d;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__wrap label:hover {
  color: #666;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .polit__konf {
  margin-bottom: 20px;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .polit__konf a {
  text-decoration: underline;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bolder;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__close img {
  width: 25px;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper fieldset img {
  width: 20px;
}
.homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__button {
  border: 0;
  font-size: 1.2rem;
  width: 40%;
  height: 40px;
  margin: auto;
  border: 0;
  border-radius: 50px;
  background: rgba(255, 193, 77, 0.8);
  box-shadow: 0 0 15px 0px #ffc14d;
}

.block__chevron {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 24px;
  height: 24px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: rgb(0, 0, 0);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}
.services {
  width: 100%;
  padding: 0 13%;
  margin: 0 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services .services__block-title {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services .services__block-title .services__title {
  font-size: 2.5rem;
}
.services .services__block-title .services__title-underline {
  height: 3px;
  width: 100px;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.services .services__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}
.services .services__block .services__block-item {
  max-width: 40%;
  background: #9999a4;
  background: linear-gradient(to right, #adadaf 0%, #cfcfcf 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 0 0 50px;
  text-decoration: none;
  border-radius: 20px;
}
.services .services__block .services__block-item .services__item-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
.services .services__block .services__block-item .services__item-image .services__image {
  width: 35%;
}
.services .services__block .services__block-item .services__item-title {
  text-align: center;
  font-size: 1.2rem;
}
.services .services__block .services__block-item .services__item-text {
  text-align: center;
  font-size: 1rem;
}

.aboutUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutUs .aboutUs__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.aboutUs .aboutUs__container .aboutUs__info {
  display: flex;
  flex-direction: column;
}
.aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title {
  margin: 0 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title .aboutUs__info-name {
  font-size: 2.5rem;
}
.aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title .aboutUs__info-underline {
  width: 75px;
  height: 3px;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.aboutUs .aboutUs__container .aboutUs__info .aboutUs__info__block {
  padding: 0 13%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}
.aboutUs .aboutUs__container .aboutUs__info .aboutUs__info__block .aboutUs__info__block-item {
  width: 30%;
  margin: 0 0 80px;
  display: flex;
  align-items: flex-start;
}
.aboutUs .aboutUs__container .aboutUs__info .aboutUs__info__block .aboutUs__info__block-item .aboutUs__info__block-image {
  width: 25px;
  margin-right: 10px;
}
.aboutUs .aboutUs__container .aboutUs__info .aboutUs__info__block .aboutUs__info__block-item .aboutUs__info__block-text {
  width: 100%;
  font-size: 1.4rem;
}
.aboutUs .aboutUs__awards {
  width: 100%;
  background-color: #FB8C00;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.aboutUs .aboutUs__awards .aboutUs__awards-block {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.aboutUs .aboutUs__awards .aboutUs__awards-block .aboutUs__awards-item {
  margin: 0 20px;
  width: 30%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
}
.aboutUs .aboutUs__awards .aboutUs__awards-block .aboutUs__awards-item .aboutUs__awards-title {
  font-weight: bold;
  margin: 40px 0 0 0;
}
.aboutUs .aboutUs__awards .aboutUs__awards-block .aboutUs__awards-item .aboutUs__awards-subtitle {
  text-align: center;
}
.aboutUs .aboutUs__awards .aboutUs__awards-block .aboutUs__awards-border {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.contacts {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .contacts__block {
  width: 100%;
  padding: 0 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts .contacts__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .contacts__title .contacts__title-name {
  font-size: 2.5rem;
}
.contacts .contacts__title .contacts__title-border {
  height: 3px;
  width: 120px;
  margin-bottom: 40px;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.contacts .contacts__map {
  width: 100%;
}
.contacts .contacts__map iframe {
  width: 100%;
  height: 450px;
}
.contacts .contacts__questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts .contacts__questions a {
  color: #434343;
}
.contacts .contacts__questions .contacts__questions-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  white-space: nowrap;
}
.contacts .contacts__questions .contacts__questions-subtitle {
  font-size: 1.2rem;
  width: 80%;
}
.contacts .contacts__questions .contacts__questions-subtitle .contacts__questions-phone {
  white-space: nowrap;
}
.contacts .contacts__button {
  padding: 20px 40px;
  margin-top: 40px;
  border: 0;
  font-size: 1.5rem;
  font-weight: normal;
  background: #ffc14d;
  transition: 0.5s;
  border-radius: 50px;
  box-shadow: 0 0 15px 4px #ffc14d;
}
.contacts .contacts__button:hover {
  transform: scale(1.02);
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */