.header{
    width: 100%;
    height: 100px;
    padding: 0 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(to top, #eeeeee 0%, rgb(93, 133, 253) 100%);

    .header__burger{
        display: none;
    }

    .header__burger.active{
        position: fixed;
        z-index: 6;
        top: 25px;
        right: 4%;
    }

    .header__burger--stick-1{
        transform: rotate(0deg);
        transition: 0.5s;
    }

    .header__burger--stick-1.active{
        transform: rotate(45deg) translateY(12px);
        transition: 0.5s;
    }
    
    .header__burger--stick-2{
        transition: 0.5s;
        display: block;
    }

    .header__burger--stick-2.active{
        transition: 0.5s;
        display: none;
    }
    
    .header__burger--stick-3{
        transition: 0.5s;
        transform: rotate(0deg);
    }

    .header__burger--stick-3.active{
        transform: rotate(-45deg) translateY(-12px);
        transition: 0.5s;
    }


    .header__block{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__block-title{
            font-size: 1.5rem;
            letter-spacing: 0.11em;
            font-weight: bold;
            margin: 0;
            color: #434343;
        }

        .header__block-logo{
            display: flex;
            align-items: center;
            text-decoration: none;

        }

        .header__block-logo>img{
            width: 40px;
            margin: 10px 20px 10px 0;
        }

        .header__block-href{
            font-size: 1.2rem;
            margin-left: 20px;
            text-decoration: none;
            color: #434343;
        }
    }
}

.burger__menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 160%;
    z-index: 5;
    height: 100vh;
    transition: 0.5s;
    padding-top: 100px;
    border-radius: 20px 0 0 20px;
    background: #ffc14d;
}

.burger__menu-href{
    margin: 10px;
}

.burger__menu.active{
    height: 100vh;
    width: 60%;
    left: 60%;
    z-index: 5;
    background: #ffc14d;
    transition: 0.5s;
}

.burger__menu-services{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.burger__menu-contacts{
    margin-left: 20px;
}

.burger__services-link{
    margin: 10px;
}

.burger__menu-phone{
    margin: 10px;
}

@media only screen and (max-width: 620px) {

    .burger__menu.active{
        left: 50%;
    }

}

@media only screen and (max-width: 620px) {

    .burger__menu.active{
        left: 30%;
        width: 70%;
    }

}

@media only screen and (max-width: 380px) {

    .burger__menu{
        border-radius: 0;
    }

    .burger__menu.active{
        left: 0%;
        width: 100%;
    }

}