@media only screen and (max-width: 1400px) {
  .homePage .homePage__block .homePage__Item .popup {
    width: 50%;
    left: 25%;
  }
}
@media only screen and (max-width: 1200px) {
  .header {
    padding: 0 8%;
  }
  .homePage .homePage__block {
    padding: 0px 0 0 8%;
  }
  .homePage .homePage__block .homePage__Item .homePage__title {
    font-size: 2rem;
  }
  .homePage .homePage__block .homePage__Item .homePage__subTitle {
    font-size: 1.2rem;
  }
  .homePage .homePage__block .homePage__Item .popup {
    width: 50%;
    left: 25%;
  }
  .homePage .homePage__block .homePage__Item .homePage__image {
    margin: 50px 0 0 10px;
    width: 40%;
    background-size: cover;
    border-radius: 50px 0 0 50px;
  }
  .homePage .homePage__block .homePage__button {
    padding: 15px 30px;
    font-size: 1.2rem;
  }
  .services {
    padding: 0 8%;
  }
  .services .services__block-title .services__title {
    font-size: 2.2rem;
  }
  .services .services__block-title .services__title-underline {
    width: 90px;
  }
  .services .services__block .services__block-item .services__item-image {
    margin: 10px 0;
  }
  .services .services__block .services__block-item .services__item-title {
    font-size: 1.1rem;
  }
  .services .services__block .services__block-item .services__item-text {
    font-size: 0.9rem;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title .aboutUs__info-name {
    font-size: 2.2rem;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title .aboutUs__info-underline {
    width: 65px;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info__block {
    padding: 0 8%;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info__block .aboutUs__info__block-item .aboutUs__info__block-text {
    font-size: 1.1rem;
  }
  .aboutUs .aboutUs__awards .aboutUs__awards-block {
    width: 100%;
  }
  .aboutUs .aboutUs__awards .aboutUs__awards-block .aboutUs__awards-item {
    font-size: 1.1rem;
  }
  .contacts .contacts__block {
    padding: 0 8%;
  }
  .contacts .contacts__title .contacts__title-name {
    font-size: 2.2rem;
  }
  .contacts .contacts__button {
    padding: 15px 30px;
    font-size: 1.2rem;
  }
  .footer {
    padding: 20px 8%;
    height: 90px;
  }
}
@media only screen and (max-width: 1050px) {
  .homePage .homePage__block .homePage__Item .popup {
    width: 60%;
    left: 15%;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 4%;
  }
  .header .header__block .header__block-href {
    display: none;
  }
  .header .header__buger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: initial;
  }
  .header .header__buger .header__buger--stick {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.589);
  }
  .homePage .homePage__block {
    padding: 0px 0 0 4%;
  }
  .homePage .homePage__block .homePage__Item .homePage__title {
    font-size: 1.8rem;
  }
  .homePage .homePage__block .homePage__Item .homePage__subTitle {
    font-size: 1rem;
  }
  .homePage .homePage__block .homePage__Item .popup {
    width: 80%;
    left: 10%;
  }
  .services {
    padding: 0 4%;
  }
  .services .services__block-title .services__title {
    font-size: 1.8rem;
  }
  .services .services__block-title .services__title-underline {
    width: 60px;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info__block {
    padding: 0 4%;
    flex-wrap: wrap;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info__block .aboutUs__info__block-item {
    width: 40%;
    margin: 0 10px 60px;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info__block .aboutUs__info__block-item .aboutUs__info__block-text {
    font-size: 1rem;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title .aboutUs__info-name {
    font-size: 1.8rem;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title .aboutUs__info-underline {
    width: 45px;
  }
  .contacts .contacts__title .contacts__title-name {
    font-size: 1.8rem;
  }
  .contacts .contacts__title .contacts__title-border {
    width: 80px;
  }
  .contacts .contacts__questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .contacts .contacts__block {
    display: flex;
    flex-direction: column;
  }
  .contacts .contacts__map {
    width: 70%;
    margin: auto;
  }
}
@media only screen and (max-width: 620px) {
  .homePage .homePage__block .homePage__Item .popup {
    top: 3%;
  }
  .homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__title {
    font-size: 1.2rem;
  }
  .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container p {
    font-size: 1rem;
  }
  .homePage .homePage__block .homePage__Item .popup .popup__wrapper {
    padding: 5%;
  }
  .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio p {
    font-size: 1.1rem;
    margin: 5px 0;
  }
  .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__item {
    font-size: 1rem;
  }
  .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .polit__konf {
    font-size: 1rem;
  }
  .homePage .homePage__block {
    padding: 0;
  }
  .homePage {
    margin-bottom: 50px;
  }
  .homePage .homePage__block .homePage__Item .homePage__Item-block .homePage__title {
    padding: 50px 0 0;
    font-size: 1.8rem;
  }
  .homePage .homePage__block .homePage__Item .homePage__subTitle {
    margin: 20px 0 40px;
  }
  .homePage .homePage__block .homePage__Item .homePage__Item-block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .homePage .homePage__block .homePage__Item {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .homePage .homePage__block .homePage__Item .homePage__Item-block {
    width: 80%;
    margin: auto;
  }
  .homePage .homePage__block .homePage__Item .homePage__Item-block .homePage__title {
    font-size: 2.2rem;
  }
  .homePage .homePage__block .homePage__Item .homePage__image {
    display: none;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title {
    margin: 0 0 30px;
  }
}
@media only screen and (max-width: 485px) {
  .services .services__block {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .services .services__block .services__block-item {
    width: 80%;
    max-width: 80%;
  }
}
@media only screen and (max-width: 425px) {
  .homePage .homePage__block {
    padding: 0;
  }
  .homePage .homePage__block .homePage__Item .homePage__Item-block {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homePage .homePage__block .homePage__Item .homePage__image {
    display: none;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info__block {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info__block .aboutUs__info__block-item {
    width: 80%;
    margin: 0 0 30px;
  }
  .aboutUs .aboutUs__awards .aboutUs__awards-block {
    flex-wrap: wrap;
    align-items: center;
  }
  .aboutUs .aboutUs__awards .aboutUs__awards-block .aboutUs__awards-item {
    min-width: 120px;
    height: 80px;
    margin: 20px 10px 0;
  }
  .aboutUs .aboutUs__awards .aboutUs__awards-block .aboutUs__awards-item .aboutUs__awards-title {
    margin: 0;
    font-size: 1.1rem;
  }
  .aboutUs .aboutUs__awards .aboutUs__awards-block .aboutUs__awards-item .aboutUs__awards-subtitle {
    font-size: 0.9rem;
  }
  .aboutUs .aboutUs__awards .aboutUs__awards-block .aboutUs__awards-border {
    display: none;
  }
  .contacts .contacts__block .contacts__questions {
    align-items: center;
  }
  .contacts .contacts__block .contacts__questions .contacts__questions-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts .contacts__map {
    display: none;
  }
  .contacts .contacts__title .contacts__title-border {
    margin-bottom: 30px;
  }
  .contacts .contacts__block {
    padding: 0;
    margin: auto;
    width: 80%;
  }
  .contacts .contacts__questions .contacts__questions-subtitle {
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  .homePage .homePage__block .homePage__Item .homePage__Item-block .homePage__title {
    font-size: 1.5rem;
  }
  .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title .aboutUs__info-name {
    font-size: 1.5rem;
  }
  .contacts .contacts__title .contacts__title-name {
    font-size: 1.5rem;
  }
  .homePage .homePage__block .homePage__Item .homePage__subTitle {
    margin: 15px 0;
  }
  .services .services__block-title .services__title {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=media.css.map */