@media only screen and (max-width: 1400px) {
    .homePage{
        .homePage__block{
            .homePage__Item{
                .popup{
                    width: 50%;
                    left: 25%;
                }
            }
        }
    }
}



@media only screen and (max-width: 1200px) {
    .header{
        padding: 0 8%;
    }
    
    .homePage{
        .homePage__block{
            padding: 0px 0 0 8%;
            .homePage__Item{
                .homePage__title{
                    font-size: 2rem;
                }

                .homePage__subTitle{
                    font-size: 1.2rem;
                }
                
                .popup{
                    top: 5%;
                    width: 50%;
                    left: 25%;
                }
                .homePage__image{
                    margin: 50px 0 0 10px;
                    width: 40%;
                    background-size: cover;
                    border-radius: 50px 0 0 50px;
                }
            }
            .homePage__button {
                padding: 15px 30px;
                font-size: 1.2rem;
            }
        }
    }

    .services{
        padding: 0 8%;
        .services__block-title{
            .services__title{
                font-size: 2.2rem;
            }
            .services__title-underline{
                width: 90px;
            }
        }
        .services__block{
            .services__block-item{
                .services__item-image{
                    margin: 10px 0;
                }
    
                .services__item-title{
                    font-size: 1.1rem;
                }
    
                .services__item-text{   
                    font-size: 0.9rem;
                }
            }
        }
    }
    .aboutUs{
        .aboutUs__container{
            .aboutUs__info{
                .aboutUs__info-title{
                    .aboutUs__info-name{
                        font-size: 2.2rem;
                    }
    
                    .aboutUs__info-underline{
                        width: 65px;
                    }
                }
    
                .aboutUs__info__block{  
                    padding: 0 8%;     
                    .aboutUs__info__block-item{
                        .aboutUs__info__block-image{
                        }
                        
                        .aboutUs__info__block-text{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
        
        .aboutUs__awards{
            .aboutUs__awards-block{
                width: 100%;
                .aboutUs__awards-item{
                    font-size: 1.1rem;
                }
            }
        }
    }
    
    .contacts{ 
        .contacts__block{
            padding: 0 8%;
        }
        .contacts__title{

    
            .contacts__title-name{
                font-size: 2.2rem;
            }

        }
        .contacts__button{
            padding: 15px 30px;
            font-size: 1.2rem;
        }
        .contacts__button:hover{
        }
    }
    
    .footer{
        padding: 20px 8%;
        height: 90px;
    }

}

@media only screen and (max-width: 1100px) {    
    .homePage{
        .homePage__block{
            .homePage__Item{
                .popup{
                    top: 3%;
                    width: 60%;
                    left: 20%;
                    .popup__wrapper{
                        padding: 10px;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 950px) {
    .homePage{
        .homePage__block{
            .homePage__Item{
                .popup{
                    width: 80%;
                    left: 10%;
                    .popup__wrapper{
                        .block__wrap{
                            .radio{
                                .radio__wrap input[type=radio]:checked + label{
                                    width: 60%;
                                    font-size: 0.9rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .header{
        padding: 4%;
        .header__block{            
            .header__block-href{
                display: none;
            }
        }
        
        .header__buger{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50px;
            height: 50px;
            border: 0;
            background-color: initial;
            .header__buger--stick{
                width: 100%;
                height: 3px;
                background-color: rgba(0, 0, 0, 0.589);
            }   
        }
    }
    
    
    .homePage{
        .homePage__block{
            padding: 0px 0 0 4%;
            .homePage__Item{
                .homePage__title{
                    font-size: 1.8rem;
                }

                .homePage__subTitle{
                    font-size: 1rem;
                }
                
                .popup{
                    top: 1%;
                    width: 80%;
                    left: 10%;
                }
                .homePage__image{

                }
            }
        }
    }
    .services{
        padding: 0 4%;
    }
    .services .services__block-title .services__title{
        font-size: 1.8rem;
    }
    .services .services__block-title .services__title-underline{
        width: 60px;
    }
    .aboutUs{
        .aboutUs__container{
            .aboutUs__info{
                .aboutUs__info__block{
                    padding: 0 4%;
                    flex-wrap: wrap;
                    .aboutUs__info__block-item{
                        width: 40%;
                        margin: 0 10px 60px;
                        .aboutUs__info__block-text{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title .aboutUs__info-name{
        font-size: 1.8rem;
    }
    .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title .aboutUs__info-underline{
        width: 45px;
    }
    .contacts .contacts__title .contacts__title-name{
        font-size: 1.8rem;
    }
    .contacts .contacts__title .contacts__title-border{
        width: 80px;
    }

    .contacts .contacts__questions{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .contacts .contacts__block{
        display: flex;
        flex-direction: column;
    }

    .contacts .contacts__map{
        width: 70%;
        margin: auto;
    }

}



@media only screen and (max-width: 620px) {
    .homePage .homePage__block .homePage__Item .popup{
        top: 3%;
    }
    
    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__title{
        font-size: 1.2rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container p{
        font-size: 1rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper{
        padding: 5%;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio p{
        font-size: 1.1rem;
        margin: 5px 0;    
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__item{
        font-size: 1rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .polit__konf{
        font-size: 1rem;
    }

    .homePage .homePage__block{
        padding: 0;
    }
    .homePage{
        margin-bottom: 50px;
    }
    .homePage .homePage__block .homePage__Item .homePage__Item-block .homePage__title{
        padding: 50px 0 0;
        font-size: 1.8rem;
    }

    .homePage .homePage__block .homePage__Item .homePage__subTitle{
        margin: 20px 0 40px;
    }
    .homePage .homePage__block .homePage__Item .homePage__Item-block{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .homePage .homePage__block .homePage__Item{
        width: 100%;
        align-items: center;
        justify-content: center;
        .homePage__Item-block{
            width: 80%;
            margin: auto;
            .homePage__title{
                font-size: 2.2rem;
            }
            .homePage__subTitle{

            }
        }
    }
    .homePage .homePage__block .homePage__Item .homePage__image{
        display: none;
    }
    .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title{
        margin: 0 0 30px;
    }
}

@media only screen and (max-width: 485px) {
    .services .services__block{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        .services__block-item{
            width: 80%;
            max-width: 80%;
        }
    }
}


@media only screen and (max-width: 425px) {

    .homePage{
        .homePage__block{
            padding: 0;
            .homePage__Item{
                // background-image: url('/img/narcissAlexey_well_drilling_in_a_private_house_small_drilling_r_c157ea64-271f-4997-a2b4-f4e9ae34e0c6.png');
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: cover;
                // color: black;

                .homePage__Item-block{
                    width: 80%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .homePage__image{
                    display: none;
                }
            }
        }
    }

    .aboutUs{
        .aboutUs__container{
            .aboutUs__info{
                .aboutUs__info-title{
                    .aboutUs__info-name{
                    }
    
                    .aboutUs__info-underline{
                    }
                }
    
                .aboutUs__info__block{
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    justify-content: start;
                    .aboutUs__info__block-item{
                        width: 80%;
                        margin: 0 0 30px;
    
                        
                        
                        .aboutUs__info__block-text{

                        }
                    }
                }
            }
        }
        .aboutUs__awards{
            .aboutUs__awards-block{
                flex-wrap: wrap;
                align-items: center;
                .aboutUs__awards-item{
                    min-width: 120px;
                    height: 80px;
                    margin: 20px 10px 0;
                    .aboutUs__awards-title{

                        margin: 0;
                        font-size: 1.1rem;
                    }
                    .aboutUs__awards-subtitle{
                        font-size: 0.9rem;
                    }
                }        
                .aboutUs__awards-border{
                    display: none;
                }
            }
        }
    }
    .contacts{
        .contacts__block{
            .contacts__questions{
                align-items: center;
                .contacts__questions-block{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
        .contacts__map{
            display: none;
        }
    } 
        
    .contacts .contacts__title .contacts__title-border{
        margin-bottom: 30px;
    }
    .contacts .contacts__block{
        padding: 0;
        margin: auto;
        width: 80%;
    }
    .contacts .contacts__questions .contacts__questions-subtitle{
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    .homePage .homePage__block .homePage__Item .homePage__Item-block .homePage__title{
        font-size: 1.5rem;
    }
    .aboutUs .aboutUs__container .aboutUs__info .aboutUs__info-title .aboutUs__info-name{
        font-size: 1.5rem;        
    }
    .contacts .contacts__title .contacts__title-name{
        font-size: 1.5rem; 
    }
    .homePage .homePage__block .homePage__Item .homePage__subTitle{
        margin: 15px 0;
    }
    .services .services__block-title .services__title{
        font-size: 1.5rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__title{
        font-size: 0.9rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__close img{
        width: 20px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container p{
        font-size: 0.7rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container input{
        font-size: 0.7rem;
        height: 20px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container{
        margin: 8px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container .popup__input--block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container textarea{ 
        height: 45px;
        font-size: 0.7rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio p{
        font-size: 0.8rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__item img{
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__wrap input[type=radio]:checked + label{
        width: 90%;
        height: 20px;
        font-size: 0.7rem;
        margin: 0;
        padding: 0 7px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__wrap input[type=radio] + label{
        width: 90%;
        height: 20px;
        font-size: 0.55rem;
        margin: 0;
        padding: 0 7px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__item{
        height: 20px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .polit__konf{
        font-size: 0.7rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__button{
        font-size: 0.9rem;
        width: 60%;
        height: 20px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio{
        margin: 0;
    }

}


@media only screen and (max-width: 320px) {

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__title{
        font-size: 0.7rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__close img{
        width: 18px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container p{
        font-size: 0.55rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container input{
        font-size: 0.55rem;
        height: 20px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container .popup__input--block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .popup__block .popup__block-container textarea{ 
        height: 45px;
        font-size: 0.55rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio p{
        font-size: 0.6rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__item img{
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__wrap input[type=radio]:checked + label{
        width: 90%;
        height: 20px;
        font-size: 0.55rem;
        margin: 0;
        padding: 0 7px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__wrap input[type=radio] + label{
        width: 90%;
        height: 20px;
        font-size: 0.55rem;
        margin: 0;
        padding: 0 7px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio .radio__item{
        height: 20px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .polit__konf{
        font-size: 0.55rem;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .popup__button{
        font-size: 0.7rem;
        width: 60%;
        height: 20px;
    }

    .homePage .homePage__block .homePage__Item .popup .popup__wrapper .block__wrap .radio{
        margin: 0;
    }

}

