@import '../reset.css';
@import '../fonts-css/fonts.css';
.header {
  width: 100%;
  height: 100px;
  padding: 0 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(93, 133, 253) 100%);
}
.header .header__buger {
  display: none;
}
.header .header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__block .header__block-title {
  font-size: 1.5rem;
  letter-spacing: 0.11em;
  font-weight: bold;
  margin: 0;
  color: #434343;
}
.header .header__block .header__block-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header .header__block .header__block-logo > img {
  width: 40px;
  margin: 10px 20px 10px 0;
}
.header .header__block .header__block-href {
  font-size: 1.2rem;
  margin-left: 20px;
  text-decoration: none;
  color: #434343;
}

.footer {
  padding: 20px 15%;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(147, 170, 241) 100%);
}
.footer a {
  color: #434343;
  text-decoration: none;
}
.footer .footer__block-item {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}
.footer .footer__block-item .footer__block-icon {
  width: 25px;
  height: 25px;
}
.footer .footer__block:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  font-family: "Roboto";
}

header {
  width: 80%;
}

.info {
  width: 70%;
  padding: 0 15%;
  margin: 60px auto;
}
.info .contacts__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info .contacts__title .contacts__title-name {
  font-size: 2.5rem;
}
.info .contacts__title .contacts__title-border {
  border: 2px solid #FFB800;
  width: 300px;
  margin-bottom: 40px;
}
.info .info__block {
  display: grid;
  grid-template-areas: "info__block-item info__block-text";
  grid-template-columns: 1fr 1fr;
}
.info .info__block .info__block-item .info__block-image {
  width: 100%;
}
.info .info__block .info__block-text {
  padding: 20px;
}

.contacts {
  margin: 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .contacts__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .contacts__title .contacts__title-name {
  font-size: 2.5rem;
}
.contacts .contacts__title .contacts__title-border {
  border: 3px solid #FFB800;
  width: 120px;
  margin-bottom: 40px;
}
.contacts .contacts__map {
  width: 45%;
  margin-bottom: 40px;
}
.contacts .contacts__map .contacts__map-item {
  width: 100%;
  height: 400px;
}
.contacts .contacts__questions {
  width: 45%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
.contacts .contacts__questions .contacts__questions-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.contacts .contacts__questions .contacts__questions-subtitle {
  font-size: 1.2rem;
  width: 80%;
}
.contacts .contacts__questions .contacts__questions-subtitle .contacts__questions-phone {
  color: #FFB800;
}
.contacts .contacts__questions .contacts__questions-block {
  width: 40%;
}
.contacts .contacts__questions .contacts__questions-block .contacts__questions-request {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.contacts .contacts__questions .contacts__questions-block .contacts__questions-text {
  font-size: 1.2rem;
}
.contacts .contacts__questions .contacts__questions-block .contacts__questions-inputs {
  width: 100%;
}
.contacts .contacts__questions .contacts__questions-block .contacts__questions-textar {
  width: 100%;
  height: 150px;
}
.contacts .contacts__questions .contacts__questions-block .contacts__questions-button {
  width: 60%;
}
.contacts .contacts__questions .contacts__questions-block:first-child {
  width: 60%;
}
.contacts .contacts__popup {
  display: none;
  height: 100px;
  width: 30%;
  font-size: 1.2rem;
  background-color: #FFB800;
  border: 0;
}

@media screen and (max-width: 1400px) {
  .info {
    width: 70%;
    padding: 0 15%;
    margin: 60px 0;
  }
  .info .contacts__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info .contacts__title .contacts__title-name {
    font-size: 2.5rem;
  }
  .info .contacts__title .contacts__title-border {
    border: 2px solid #FFB800;
    width: 300px;
    margin-bottom: 40px;
  }
  .info .info__block {
    display: block;
  }
  .info .info__block .info__block-item .info__block-image {
    display: none;
  }
  .info .info__block .info__block-text {
    padding: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .info {
    width: 70%;
    padding: 0 15%;
    margin: 60px 0;
  }
  .info .contacts__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info .contacts__title .contacts__title-name {
    font-size: 2rem;
  }
  .info .contacts__title .contacts__title-border {
    border: 1px solid #FFB800;
    width: 300px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 555px) {
  .info {
    width: 70%;
    padding: 0 15%;
    margin: 60px 0;
  }
  .info .contacts__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info .contacts__title .contacts__title-name {
    font-size: 1.5rem;
  }
  .info .contacts__title .contacts__title-border {
    border: 1px solid #FFB800;
    width: 150px;
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */