body {
  background-color: #eeeeee;
}

.info__block {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__block .info__block--title {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__block .info__block--title .info__title {
  margin: 10px 0;
  font-size: 1.6rem;
}
.info__block .info__block--title .info__title-underline {
  width: 50%;
  height: 3px;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.info__block .info__block--item {
  width: 60%;
  margin: 0 auto;
}
.info__block .info__block--item p {
  margin: 15px 0;
}

.popup.active {
  display: block;
  opacity: 1;
  transition: 0.5s;
}

.popup {
  transition: 0.5s;
  opacity: 0;
  display: none;
  z-index: 5;
  background-color: #fff;
  position: fixed;
  left: 32%;
  top: 10%;
  border: 1px solid black;
  width: 37%;
  margin: auto;
  border-radius: 20px;
}
.popup .popup__wrapper {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.popup .popup__wrapper .popup__title {
  margin-bottom: 20px;
}
.popup .popup__wrapper .block__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.popup .popup__wrapper .block__wrap .popup__block {
  display: flex;
  flex-direction: column;
}
.popup .popup__wrapper .block__wrap .popup__block .popup__block-container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.popup .popup__wrapper .block__wrap .popup__block .popup__block-container .popup__text {
  width: 30%;
}
.popup .popup__wrapper .block__wrap .popup__block .popup__block-container p {
  margin: 10px 10px 10px 0;
  font-size: 1.2rem;
}
.popup .popup__wrapper .block__wrap .popup__block .popup__block-container input {
  height: 30px;
  border: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0 0 0 10px;
}
.popup .popup__wrapper .block__wrap .popup__block .popup__block-container input._error {
  transition: 0.3s;
  box-shadow: 0 0 5px rgb(255, 42, 42);
}
.popup .popup__wrapper .block__wrap .popup__block .popup__block-container .popup__input-2 {
  margin-bottom: 10px;
}
.popup .popup__wrapper .block__wrap .popup__block .popup__block-container textarea {
  width: 100%;
  height: 90px;
  border: 0px;
  resize: none;
  font-size: 0.9rem;
  padding: 0 0 0 10px;
  border: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  cursor: pointer;
}
.popup .popup__wrapper .block__wrap .radio {
  margin-bottom: 20px;
}
.popup .popup__wrapper .block__wrap .radio p {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}
.popup .popup__wrapper .block__wrap .radio .radio__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  border: 0;
}
.popup .popup__wrapper .block__wrap .radio .radio__item {
  width: 100%;
  margin: 10px;
  font-size: 1.2rem;
}
.popup .popup__wrapper .block__wrap .radio .radio__item img {
  width: 20px;
  margin-right: 10px;
}
.popup .popup__wrapper .block__wrap .radio .radio__wrap input[type=radio] {
  display: none;
}
.popup .popup__wrapper .block__wrap .radio .radio__wrap label {
  cursor: pointer;
  padding: 5px 15px;
  line-height: 34px;
  border-right: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.popup .popup__wrapper .block__wrap .radio .radio__wrap .radio__item label {
  border-radius: 15px;
}
.popup .popup__wrapper .block__wrap .radio .radio__wrap input[type=radio]:checked + label {
  background: rgba(255, 193, 77, 0.8);
  box-shadow: 0 0 15px 0px #ffc14d;
}
.popup .popup__wrapper .block__wrap .radio .radio__wrap label:hover {
  color: #666;
}
.popup .popup__wrapper .popup__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bolder;
}
.popup .popup__wrapper .popup__close img {
  width: 25px;
}
.popup .popup__wrapper fieldset img {
  width: 20px;
}
.popup .popup__wrapper .popup__button {
  border: 0;
  font-size: 1.2rem;
  width: 40%;
  height: 40px;
  margin: auto;
  border: 0;
  border-radius: 50px;
  background: rgba(255, 193, 77, 0.8);
  box-shadow: 0 0 15px 0px #ffc14d;
}

.contacts {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .contacts__block {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts .contacts__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .contacts__title .contacts__title-name {
  font-size: 2.5rem;
}
.contacts .contacts__title .contacts__title-border {
  height: 3px;
  width: 120px;
  margin-bottom: 40px;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.contacts .contacts__questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts .contacts__questions a {
  color: #434343;
}
.contacts .contacts__questions .contacts__questions-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.contacts .contacts__questions .contacts__questions-subtitle {
  font-size: 1.2rem;
  width: 80%;
}
.contacts .contacts__button {
  padding: 20px 40px;
  margin-top: 40px;
  border: 0;
  font-size: 1.5rem;
  font-weight: normal;
  background: #ffc14d;
  transition: 0.5s;
  border-radius: 50px;
  box-shadow: 0 0 15px 4px #ffc14d;
}
.contacts .contacts__button:hover {
  transform: scale(1.02);
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */